In [2]:
import json
from pymongo import MongoClient

#1:Now we try to upload the json to mongodb
cl=MongoClient('mongodb://localhost:27017/')
dab=cl['ev_project']
coll=dab['ev_registrations']
coll.drop()

with open('ev_registrations.json','r') as file:
    json_da=json.load(file)
da=json_da['data']
colm=[col['name']for col in json_da['meta']['view']['columns']]
data_dt=[dict(zip(colm,recd))for recd in da]

In [3]:
#it is also necessary for us to insert it in chunks for better efficiency
cz=1000
total_rec=len(data_dt)
for i in range(0,total_rec,cz):
    ck=data_dt[i:i+cz]
    coll.insert_many(ck)
print(f"Total in MongoDB: {coll.count_documents({})}")

Total in MongoDB: 770809

We are trying to pre-process the data now

In [4]:
import pandas as pd
from pymongo import MongoClient
from datetime import datetime

cl=MongoClient('mongodb://localhost:27017/')
dab=cl['ev_project']
coll=dab['ev_registrations']

In [5]:
sd=datetime(2023,1,1)
ed=datetime(2025,6,30)
evda=list(coll.find({'Fuel Type':'Electric','Transaction Date':{'$gte':sd.strftime('%Y-%m-%d'),'$lte':ed.strftime('%Y-%m-%d')}}))

In [6]:
df=pd.DataFrame(evda).drop(columns=['_id','sid','id','position','created_at','updated_at','updated_meta','meta','Fiscal Year'],errors='ignore')

df['Counts']=pd.to_numeric(df['Counts'],errors='coerce')
df=df.drop_duplicates()
print(len(df))

8797

In [7]:
print('uniq residential county',df['Residential County'].nunique())
print('unique fuel type',df['Fuel Type'].nunique())
print(df['Counts'].max())  #we try to see the max value of counts

uniq residential county 39
unique fuel type 1
8448

In [8]:
#we try to print only the monthly data instead of daily data
df['Transaction Date']=pd.to_datetime(df['Transaction Date'])
df['YearMonth']=df['Transaction Date'].dt.to_period('M')
df_group=df.groupby(['Residential County','YearMonth','Fuel Type','Primary Use Class'],as_index=False)['Counts'].sum()
df_group['Residential County']=df_group['Residential County'].str.strip()

print('first 5 rows',df_group.head())
df_group.to_csv('ev_cleaned_monthly.csv',index=False)

first 5 rows   Residential County YearMonth Fuel Type  Primary Use Class  Counts
0              Adams   2023-01  Electric         Commercial       1
1              Adams   2023-01  Electric  Passenger Vehicle       1
2              Adams   2023-02  Electric              Truck       1
3              Adams   2023-03  Electric  Passenger Vehicle       1
4              Adams   2023-04  Electric  Passenger Vehicle       4

From here the Dagster pipeline grabs the vehicle dataset from MongoDB and then saves table in PostgreSQL.

In [9]:
from dagster import job, op, In, Out
import pandas as pd
from pymongo import MongoClient
from sqlalchemy import create_engine
from datetime import datetime

In [10]:
@op(out=Out(pd.DataFrame))
def transform_evdata():
    cl=MongoClient('mongodb://localhost:27017/')
    dab=cl['ev_project']
    coll=dab['ev_registrations']

    sd=datetime(2023,1,1)
    ed=datetime(2025,12,31)
    evda=list(coll.find({'Fuel Type':'Electric','Transaction Date':{'$gte':sd.strftime('%Y-%m-%d'),'$lte':ed.strftime('%Y-%m-%d')}}))

    df=pd.DataFrame(evda).drop(columns=['_id','sid','id','position','created_at','updated_at','updated_meta','meta','Fiscal Year'],errors='ignore')
    df['Counts']=pd.to_numeric(df['Counts'],errors='coerce')
    df=df.drop_duplicates()
    print("raw data",len(df))
    

# we are actually trying to debug the raw data present
    df['Transaction Date']=pd.to_datetime(df['Transaction Date'])
    df['YearMonth']=df['Transaction Date'].dt.to_period('M')
    print("Unique YearMonths \t", df['YearMonth'].nunique())
    df_group=df.groupby(['Residential County','YearMonth','Fuel Type','Primary Use Class'],as_index=False)['Counts'].sum()
    df_group['Residential County']=df_group['Residential County'].str.strip()
    df_group['YearMonth']=df_group['YearMonth'].astype(str)
    
    df['Transaction Date']=pd.to_datetime(df['Transaction Date'])
    df['YearMonth']=df['Transaction Date'].dt.to_period('M')
    print("Unique YearMonths \t",df['YearMonth'].nunique())
    
    df_group=df.groupby(['Residential County','YearMonth','Fuel Type','Primary Use Class'],as_index=False)['Counts'].sum()
    df_group['Residential County']=df_group['Residential County'].str.strip()
    df_group['YearMonth']=df_group['YearMonth'].astype(str)
    
    
# now once debugging is done we try to debug the aggregated data
    print("\nAggregated data \t")
    print("Total rows \t",len(df_group))
    print("Unique Residential Counties \t",df_group['Residential County'].nunique())
    print("Unique YearMonths \t",df_group['YearMonth'].nunique())
    print("Unique Primary Use Classes \t",df_group['Primary Use Class'].nunique())
    print("Aggregated Counts summary \n",df_group['Counts'].describe())
    return df_group

In [11]:
@op(ins={"df":In(pd.DataFrame)},out=Out(str))
def save_to_postgres(df):
    try:
        engine = create_engine('postgresql://postgres:password@localhost:5432/ev_project_cleaned')
        df.to_sql('ev_registrations_cleaned',engine,if_exists='replace',index=False)
        print("Data saved into the PostgreSQL")
        return "Saved to PostgreSQL"
    except Exception as e:
        print(f"Error saving to PostgreSQL:{e}")
        return f"Failed to save:{e}"

In [12]:
@job 
def ev_data_pipeline():
    df=transform_evdata()
    save_to_postgres(df)

Here we are performing EDA

In [ ]:
pip install pandas matplotlib seaborn sqlalchemy psycopg2-binary

WARNING: Ignoring invalid distribution ~ (c:\Users\Danish Rehman\anaconda3\Lib\site-packages)

Requirement already satisfied: pandas in c:\users\danish rehman\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: matplotlib in c:\users\danish rehman\anaconda3\lib\site-packages (3.9.2)

WARNING: Ignoring invalid distribution ~ (c:\Users\Danish Rehman\anaconda3\Lib\site-packages)

WARNING: Ignoring invalid distribution ~ (c:\Users\Danish Rehman\anaconda3\Lib\site-packages)

Requirement already satisfied: seaborn in c:\users\danish rehman\anaconda3\lib\site-packages (0.13.2)

Requirement already satisfied: sqlalchemy in c:\users\danish rehman\anaconda3\lib\site-packages (1.4.54)
Requirement already satisfied: psycopg2-binary in c:\users\danish rehman\anaconda3\lib\site-packages (2.9.10)
Requirement already satisfied: numpy>=1.26.0 in c:\users\danish rehman\anaconda3\lib\site-packages (from pandas) (1.26.4)

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\danish rehman\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\danish rehman\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\danish rehman\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\danish rehman\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\danish rehman\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\danish rehman\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\danish rehman\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\danish rehman\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\danish rehman\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\danish rehman\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\danish rehman\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\danish rehman\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

In [17]:
sns.set(style="whitegrid")
plt.rcParams['figure.figsize']=(12,6)

In [20]:
try:
    engine=create_engine('postgresql://postgres:password@localhost:5432/ev_project_cleaned')
    df=pd.read_sql('SELECT * FROM ev_registrations_cleaned',engine)
except Exception as e:
    print(f"error in reading from postgres {e}")
    try:
        df=pd.read_csv('ev_cleaned_monthly.csv')
        print(f"Loaded {len(df)} rows from CSV")
    except Exception as e:
        print("There is some error in loading")
        exit(1)

C:\Users\Danish Rehman\AppData\Local\Temp\ipykernel_14632\2679531264.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql('SELECT * FROM ev_registrations_cleaned',engine)

error in reading from postgres 'Engine' object has no attribute 'cursor'
Loaded 4252 rows from CSV

In [24]:
print("Colomns in th DF",list(df.columns))
print(df.info())
print(df.isnull().sum())

Colomns in th DF ['Residential County', 'YearMonth', 'Fuel Type', 'Primary Use Class', 'Counts']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4252 entries, 0 to 4251
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Residential County  4252 non-null   object
 1   YearMonth           4252 non-null   object
 2   Fuel Type           4252 non-null   object
 3   Primary Use Class   4252 non-null   object
 4   Counts              4252 non-null   int64
dtypes: int64(1), object(4)
memory usage: 166.2+ KB
None
Residential County    0
YearMonth             0
Fuel Type             0
Primary Use Class     0
Counts                0
dtype: int64

In [26]:
try:
    print(f"Resedntial county {df['Residential County'].nunique()}")
except KeyError:
    print("Residential County column not found",list(df.columns))

Resedntial county 39

In [27]:
print(f"Fuel Type {df['Fuel Type'].nunique()}")
print(f"Primary Use Class {df['Primary Use Class'].nunique()}")
print(df['Counts'].describe())

Fuel Type 1
Primary Use Class 21
count    4252.000000
mean       86.288570
std       593.386344
min         1.000000
25%         1.000000
50%         2.000000
75%        12.000000
max      9369.000000
Name: Counts, dtype: float64