# <b><U>9APDV: Analytics Programming & Data Visualization<b>

## CA-2 - Group Project[ 70 Marks]

## 0. Team Introduction

1.1. Student Name  : <b>Vishal Chaudhary</b> <br> 
1.2. Student ID    : <b>23332794</b> <br>
1.3. Stduent Email : x23332794@student.ncirl.ie <br>

2.1. Student Name  : <b>Murtza Arab </b> <br>
2.2. Student ID    : <b>23364394 </b> <br>
2.3. Stduent Email : x23364394@student.ncirl.ie  <br>

3.1. Student Name  : <b>Danish Rehman </b> <br>
3.2. Student ID    : <b>23425857 </b> <br>
3.3. Stduent Email : x23425857@student.ncirl.ie  <br>

## 1.1 <b>Washington AQI Data Description<b> 

 <font size="+0.8"><b>Features description:</b></font>
"""
<ul>
    <br><li><b>state_code</b>: Numeric code representing the U.S. state where the monitoring site is located.</li>
    <br><li><b>county_code</b>: Numeric code representing the county within the state.</li>
    <br><li><b>site_number</b>: Unique identifier for the specific monitoring site.</li>
    <br><li><b>parameter_code</b>: Numeric code for the type of pollutant or parameter being measured.</li>
    <br><li><b>poc</b>: Parameter Occurrence Code – used to distinguish between multiple instruments measuring the same parameter at a site.</li>
    <br><li><b>latitude</b>: Geographic latitude of the monitoring site.</li>
    <br><li><b>longitude</b>: Geographic longitude of the monitoring site.</li>
    <br><li><b>datum</b>: Geodetic datum used for the site's geographic coordinates (WGS84)</li>
    <br><li><b>parameter</b>: 	Name of the pollutant or parameter measured "PM2.5 - Local Conditions".</li>
    <br><li><b>sample_duration_code</b>: Coded value representing the duration of the sample collection.</li>
    <br><li><b>sample_duration</b>: Full name/description of the sample duration.</li>
    <br><li><b>pollutant_standard</b>: Air quality standard associated with the parameter.</li>
    <br><li><b>date_local</b>: Date of observation format: YYYY-MM-DD.</li>
    <br><li><b>units_of_measure</b>: Units in which the pollutant concentration is measured.</li>
    <br><li><b>event_type</b>: Type of event during sampling.</li>
    <br><li><b>observation_count</b>: Number of observations included in the reported value calculation.</li>
    <br><li><b>observation_percent</b>: Percentage of observations needed to be measured over the sample period.</li>
    <br><li><b>validity_indicator</b>: Indicator flag for whether the data is valid.</li>
    <br><li><b>arithmetic_mean</b>: Average concentration value of the pollutant.</li>
    <br><li><b>first_max_value</b>: Maximum concentration value observed.</li>
    <br><li><b>first_max_hour</b>: Day hour (0–23) when the first_max_value was achieved.</li>
    <br><li><b>aqi</b>: Air Quality Index value based upon the observation.</li>
    <br><li><b>method_code</b>: Numerical code referring to the method in which the pollutant was measured.</li>
    <br><li><b>method</b>: Indicates measurement method used.</li>
    <br><li><b>local_site_name</b>: Monitor location name, as provided by the local agency.</li>
    <br><li><b>site_address</b>: Physical street address of monitoring site.</li>
    <br><li><b>state</b>: Complete title of the U.S. state where the site is located.</li>
    <br><li><b>county</b>: Complete title of the county where the site is located.</li>
    <br><li><b>city</b>: City/town name where monitoring site is located.</li>
    <br><li><b>cbsa_code</b>: Core-Based Statistical Area code — identifies metropolitan/micropolitan divisions.</li>
    <br><li><b>cbsa</b>: Core-Based Statistical Area code —CBSA region name .</li>
    <br><li><b>date_of_last_change</b>: Date on which the data for this record was last changed.</li>
</ul>
"""

## 2.1 AQI DATA IMPORT
Importing AQI data from United States Environmental Protection Agency through API

Data source: https://aqs.epa.gov/aqsweb/documents/data_api.html 

Sample Url: https://aqs.epa.gov/data/api/dailyData/bySiteemail=test@aqs.api&key=test&param=44201&bdate=20170618&edate=20170618&state=37&county=183&site=0014

In [7]:
# Importing all required libraries  
import requests
import json
import pymongo
import numpy as np
import pandas as pd
import seaborn as sns
import mysql.connector
from datetime import datetime
from pymongo import MongoClient
import matplotlib.pyplot as plt

In [8]:
# Environmental protection Agency api credentials that is going to be used to collect data
acc_email = "ch.vishal400@gmail.com"  
acc_apikey = "sandkit13"

In [9]:
# common link to retrieve data by providing required parameters
com_url = "https://aqs.epa.gov/data/api/dailyData/byState"

# parameters that are required by the common link to retrieve data
params = {
    "email": acc_email,
    "key": acc_apikey,
    "param": "88101",  # PM2.5 (Particulate Matter pollution Local Conditions)
    "bdate": "20240101",  # Dataset Begining date 1 January 2024
    "edate": "20241231",  # Dataset Ending date 31 December 2024
    "state": "53" }  # code of the Washington state

In [10]:
# defining function to get data from EPA by using api
def air_quality(com_url, params):
    response = requests.get(com_url, params=params)
    if response.status_code == 200:
        wa_data = response.json()
        if wa_data["Header"][0]["status"] == "Success":
            return wa_data["Data"]
        else:
            print("Some error occured:", wa_data["Header"][0]["error"])
            return None
    else:
        print(f" Error: {response.status_code}")
        return None

In [11]:
# retrieving the dataset of Washington aqi from EPA and converting it to dataframe
print("Stared collecting data of washington aqi, 2024...")
air_quality_data = air_quality(com_url, params)

wa_air_quality = pd.DataFrame(air_quality_data)

Stared collecting data of washington aqi, 2024...

In [12]:
# checking the overall data 
print(type(wa_air_quality))  
print(wa_air_quality.head())  
print(wa_air_quality.columns.tolist())
print("Number of rows:", len(wa_air_quality))

<class 'pandas.core.frame.DataFrame'>
  state_code county_code site_number parameter_code  poc   latitude  \
0         53         033        0030          88101    5  47.597222
1         53         033        0030          88101    5  47.597222
2         53         033        0030          88101    5  47.597222
3         53         033        0030          88101    5  47.597222
4         53         033        0030          88101    5  47.597222

    longitude  datum                 parameter sample_duration_code  ...  \
0 -122.319722  WGS84  PM2.5 - Local Conditions                    1  ...
1 -122.319722  WGS84  PM2.5 - Local Conditions                    X  ...
2 -122.319722  WGS84  PM2.5 - Local Conditions                    X  ...
3 -122.319722  WGS84  PM2.5 - Local Conditions                    X  ...
4 -122.319722  WGS84  PM2.5 - Local Conditions                    X  ...

  method_code                                             method  \
0         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...
1         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...
2         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...
3         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...
4         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...

         local_site_name   site_address       state  county     city  \
0  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle
1  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle
2  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle
3  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle
4  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle

  cbsa_code                         cbsa  date_of_last_change
0     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04
1     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04
2     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04
3     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04
4     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04

[5 rows x 32 columns]
['state_code', 'county_code', 'site_number', 'parameter_code', 'poc', 'latitude', 'longitude', 'datum', 'parameter', 'sample_duration_code', 'sample_duration', 'pollutant_standard', 'date_local', 'units_of_measure', 'event_type', 'observation_count', 'observation_percent', 'validity_indicator', 'arithmetic_mean', 'first_max_value', 'first_max_hour', 'aqi', 'method_code', 'method', 'local_site_name', 'site_address', 'state', 'county', 'city', 'cbsa_code', 'cbsa', 'date_of_last_change']
Number of rows: 70939

In [13]:
# saving this dataset in the json file
with open('air_quality_washington.json', 'w') as f:
    json.dump(air_quality_data, f, indent=4)

## 1.2 <b>Washington Alternate Fuel Stations Description<b> 

 <font size="+0.8"><b>Features description:</b></font>
"""
<ul>
    <br><li><b>access_code</b>: Specifies the access level of the station (e.g., public, private).</li>
        <br><li><b>access_days</b>: Indicates the days the station is accessible (e.g., Mon-Fri).</li>
        <br><li><b>access_detail_cards</b>: Details about access cards or methods for station use (e.g., RFID, app).</li>
        <br><li><b>accept_date</b>: Date when the station started accepting a specific fuel type.</li>
        <br><li><b>last_co_expected_date</b>: Last date the station was expected to confirm its operational status.</li>
        <br><li><b>fuel_type_code</b>: Code representing the type of fuel offered (e.g., ELEC for electric).</li>
        <br><li><b>groups_with_id</b>: Identifier for groups or networks the station is part of (e.g., charging network ID).</li>
        <br><li><b>maximum_ve_open_date</b>: The latest date a vehicle can access the station based on its operational schedule.</li>
        <br><li><b>owner_type</b>: Type of entity that owns the station (e.g., government, private company).</li>
        <br><li><b>restricted_access</b>: Indicates if access to the station is restricted (e.g., employees only).</li>
        <br><li><b>funding_source</b>: Source of funding for the station (e.g., federal grant, private investment).</li>
        <br><li><b>facility_type</b>: Type of facility where the station is located (e.g., gas station, parking lot).</li>
        <br><li><b>station_name</b>: Name of the fuel station (e.g., "Downtown Charging Hub").</li>
        <br><li><b>station_phone</b>: Phone number for contacting the station.</li>
        <br><li><b>updated_at</b>: Timestamp of the last update to the station’s data.</li>
        <br><li><b>geocode_status</b>: Status of the geocoding process for the station’s location (e.g., 200-9 for success).</li>
        <br><li><b>latitude</b>: Geographic latitude coordinate of the station.</li>
        <br><li><b>longitude</b>: Geographic longitude coordinate of the station.</li>
        <br><li><b>city</b>: City where the station is located (e.g., Seattle).</li>
        <br><li><b>country</b>: Country where the station is located (e.g., US).</li>
        <br><li><b>intersection_plus4</b>: Additional intersection details for the station’s address (e.g., cross streets).</li>
        <br><li><b>state</b>: State where the station is located (e.g., WA).</li>
        <br><li><b>street_address</b>: Street address of the station (e.g., 123 Main St).</li>
        <br><li><b>zip</b>: ZIP code of the station’s location (e.g., 98101).</li>
        <br><li><b>bd_blends</b>: Types of biodiesel blends offered at the station (e.g., B20).</li>
        <br><li><b>cng_dispenser</b>: Number or type of compressed natural gas (CNG) dispensers at the station.</li>
        <br><li><b>cng_fill_type</b>: Type of CNG fill available (e.g., fast-fill, time-fill).</li>
        <br><li><b>cng_psi</b>: Pressure level of CNG offered (e.g., 3600 psi).</li>
        <br><li><b>cng_renewable</b>: Indicates if the CNG is sourced from renewable methods (e.g., yes/no).</li>
        <br><li><b>cng_total_co</b>: Total compression capacity for CNG at the station.</li>
        <br><li><b>cng_total_stc</b>: Total storage capacity for CNG at the station.</li>
        <br><li><b>cng_vehicle</b>: Types of vehicles supported by the CNG station (e.g., heavy-duty, light-duty).</li>
    </ul>

## 2.2 Alternate Fuel Stations DATA IMPORT
Importing Alternate Fuel Stations data from United States Environmental Protection Agency through API

Data source: https://developer.nrel.gov/api/alt-fuel-stations/v1.json?api_key=8DqksjoYZYBuMOBaVo9ExjXoHmhYSPY3qLd34oHH

In [16]:
#Importing data through API with python REQUESTS module 

def download_json_from_api(api_url, output_file="output.json"):
    try:
        # Send GET request to the API
        response = requests.get(api_url)
        response.raise_for_status()
        json_data = response.json()
        
        # Saving JSON to file
        with open(output_file, 'w') as f:
            import json
            json.dump(json_data, f, indent=4)
            
        print(f"JSON file saved as {output_file}")
        
    except requests.exceptions.RequestException as e:
        print(f"Error downloading file: {e}")
    except ValueError as e:
        print(f"Error parsing JSON: {e}")
    except IOError as e:
        print(f"Error saving file: {e}")

api_url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.json?api_key=8DqksjoYZYBuMOBaVo9ExjXoHmhYSPY3qLd34oHH" 
download_json_from_api(api_url, "Alt_fuel_stations.json")

JSON file saved as Alt_fuel_stations.json

## 1.3 <b>Washington EV Vehicle Regisrtions Description<b> 

 <font size="+0.8"><b>Features description:</b></font>

<ul>
    <br><li><b>Fiscal Year</b>: Descries about the year when the vehicle was purchased.</li>
    <br><li><b>Transaction Date</b>: Descries about the exact date when the vehicle was purchased</li>
    <br><li><b>Transaction County</b>: Descries about the county where the vehicle was purchased.</li>
    <br><li><b>Residential County</b>: Descries about the residentail county of the owner of the vehicle.</li>
    <br><li><b>Fuel Type</b>: Descries about the type of fuel vehicle runs on.</li>
    <br><li><b>Primary Use Class</b>: Tells us about for what purpose the vehiicle is used in.</li>
    
</ul>

## 2.3 Washington EV Vehicle Regisrtion

Data imported from local system and downloaded from the link mentioned below in the json format.

https://catalog.data.gov/dataset/vehicle-registrations-by-class-and-county

## 3.1 Connection With MongoDB and Data Transformation

In [13]:
# Connect to MongoDB
mongo_cl = MongoClient("mongodb://localhost:27017/")
mongo_db = mongo_cl["Group_Q_db"]
mongo_collection = mongo_db["air_quality"]

In [21]:
with open("air_quality_washington.json") as f:
    data = json.load(f)

In [22]:
# Print first 2 records to inspect structure
print(data[:2])

[{'state_code': '53', 'county_code': '033', 'site_number': '0030', 'parameter_code': '88101', 'poc': 5, 'latitude': 47.597222, 'longitude': -122.319722, 'datum': 'WGS84', 'parameter': 'PM2.5 - Local Conditions', 'sample_duration_code': '1', 'sample_duration': '1 HOUR', 'pollutant_standard': None, 'date_local': '2024-01-01', 'units_of_measure': 'Micrograms/cubic meter (LC)', 'event_type': 'No Events', 'observation_count': 24, 'observation_percent': 100.0, 'validity_indicator': 'Y', 'arithmetic_mean': 20.083333, 'first_max_value': 43.0, 'first_max_hour': 6, 'aqi': None, 'method_code': '170', 'method': 'Met One BAM-1020 Mass Monitor w/VSCC - Beta Attenuation', 'local_site_name': 'Seattle-10th & Weller', 'site_address': '10th & Weller', 'state': 'Washington', 'county': 'King', 'city': 'Seattle', 'cbsa_code': '42660', 'cbsa': 'Seattle-Tacoma-Bellevue, WA', 'date_of_last_change': '2025-04-04'}, {'state_code': '53', 'county_code': '033', 'site_number': '0030', 'parameter_code': '88101', 'poc': 5, 'latitude': 47.597222, 'longitude': -122.319722, 'datum': 'WGS84', 'parameter': 'PM2.5 - Local Conditions', 'sample_duration_code': 'X', 'sample_duration': '24-HR BLK AVG', 'pollutant_standard': 'PM25 24-hour 2006', 'date_local': '2024-01-01', 'units_of_measure': 'Micrograms/cubic meter (LC)', 'event_type': 'No Events', 'observation_count': 1, 'observation_percent': 100.0, 'validity_indicator': 'Y', 'arithmetic_mean': 20.0, 'first_max_value': 20.0, 'first_max_hour': 0, 'aqi': 71, 'method_code': '170', 'method': 'Met One BAM-1020 Mass Monitor w/VSCC - Beta Attenuation', 'local_site_name': 'Seattle-10th & Weller', 'site_address': '10th & Weller', 'state': 'Washington', 'county': 'King', 'city': 'Seattle', 'cbsa_code': '42660', 'cbsa': 'Seattle-Tacoma-Bellevue, WA', 'date_of_last_change': '2025-04-04'}]

In [12]:
#Inserting data in mongo collection
mongo_collection.insert_many(data)
print("Data uploaded successfully!")

NameError: name 'mongo_collection' is not defined

In [24]:
# Total number of docs present in collection
count = mongo_collection.count_documents({}) # count docs in collection
print(f"Total documents: {count}")

Total documents: 70939

In [25]:
df = mongo_collection.find() # gathering all docs from mongo
mongo_data = pd.DataFrame(list(df)) # converting the data into dataframe

In [26]:
print(mongo_data.dtypes) # checking the datatypes of each column

print(mongo_data.isnull().sum()) # checking if any value is missing in columns

_id                      object
state_code               object
county_code              object
site_number              object
parameter_code           object
poc                       int64
latitude                float64
longitude               float64
datum                    object
parameter                object
sample_duration_code     object
sample_duration          object
pollutant_standard       object
date_local               object
units_of_measure         object
event_type               object
observation_count         int64
observation_percent     float64
validity_indicator       object
arithmetic_mean         float64
first_max_value         float64
first_max_hour            int64
aqi                     float64
method_code              object
method                   object
local_site_name          object
site_address             object
state                    object
county                   object
city                     object
cbsa_code                object
cbsa                     object
date_of_last_change      object
dtype: object
_id                        0
state_code                 0
county_code                0
site_number                0
parameter_code             0
poc                        0
latitude                   0
longitude                  0
datum                      0
parameter                  0
sample_duration_code       0
sample_duration            0
pollutant_standard      7787
date_local                 0
units_of_measure           0
event_type                 0
observation_count          0
observation_percent        0
validity_indicator         0
arithmetic_mean            0
first_max_value            0
first_max_hour             0
aqi                     7787
method_code                0
method                     0
local_site_name         2039
site_address               0
state                      0
county                     0
city                       0
cbsa_code               3718
cbsa                    3718
date_of_last_change        0
dtype: int64

In [27]:
# deleting unwanted columns
required_col = mongo_data.drop(['_id', 'state_code','county_code', 'site_number','parameter_code','first_max_hour', 'method_code','method',
             'poc', 'latitude','longitude', 'datum','parameter','cbsa_code', 'site_address',
             'sample_duration_code', 'sample_duration','pollutant_standard', 'units_of_measure','event_type'], axis = 1)

In [28]:
required_col['cbsa'] = required_col['cbsa'].fillna('Unknown')  #filling missing values in column 'cbsa'
required_col['local_site_name'] = required_col['local_site_name'].fillna('Unknown')  #filling missing values in column 'local_site_name'
required_col['aqi'] = required_col['aqi'].fillna(required_col['arithmetic_mean']) # filling missing values in aqi column with values from mean columns

In [29]:
# convert normal date format to datetime, so that year and month can be extracted
required_col['date_local'] = pd.to_datetime(required_col['date_local'], errors = 'coerce')
print(required_col['date_local'].head()) # check few entries to check the format

0   2024-01-01
1   2024-01-01
2   2024-01-01
3   2024-01-01
4   2024-01-01
Name: date_local, dtype: datetime64[ns]

In [30]:
required_col['year'] = required_col['date_local'].dt.year #extracted year from date_local column and create a new column 'year'
required_col['month'] = required_col['date_local'].dt.month #extracted month from date_local column and create a new column 'month'
required_col['week'] = required_col['date_local'].dt.isocalendar().week #extracted month from date_local column and create a new column 'week'

In [31]:
required_col.head()

,date_local,observation_count,observation_percent,validity_indicator,arithmetic_mean,first_max_value,aqi,local_site_name,state,county,city,cbsa,date_of_last_change,year,month,week
0,2024-01-01,24,100.0,Y,20.083333,43.0,20.083333,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA",2025-04-04,2024,1,1
1,2024-01-01,1,100.0,Y,20.000000,20.0,71.000000,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA",2025-04-04,2024,1,1
2,2024-01-01,1,100.0,Y,20.000000,20.0,71.000000,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA",2025-04-04,2024,1,1
3,2024-01-01,1,100.0,Y,20.000000,20.0,71.000000,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA",2025-04-04,2024,1,1
4,2024-01-01,1,100.0,Y,20.000000,20.0,71.000000,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA",2025-04-04,2024,1,1

In [36]:
# maximum observation count by local aqi, local site name, city and county

obs_max_count = required_col.groupby(['aqi', 'local_site_name', 'city', 'county', 'date_local'])['observation_count'].max().reset_index()
print(obs_max_count)

              aqi                     local_site_name                city  \
0       -1.704167                    Tacoma-S 36th St              Tacoma
1       -1.458333                   TACOMA - L STREET              Tacoma
2       -1.308696                    Tacoma-S 36th St              Tacoma
3       -1.166667               Vancouver-NE 84th Ave           Vancouver
4       -1.133333                             Unknown  Nespelem Community
...           ...                                 ...                 ...
15635  114.000000  TOPPENISH - WARD RD (YAKAMA TRIBE)           Toppenish
15636  119.000000  TOPPENISH - WARD RD (YAKAMA TRIBE)           Toppenish
15637  137.000000  TOPPENISH - WARD RD (YAKAMA TRIBE)           Toppenish
15638  153.000000                    YAKIMA - 4TH AVE              Yakima
15639  166.000000                   TACOMA - L STREET              Tacoma

         county date_local  observation_count
0        Pierce 2024-09-23                 24
1        Pierce 2024-05-16                 24
2        Pierce 2024-07-30                 23
3         Clark 2024-05-13                 24
4      Okanogan 2024-10-29                 24
...         ...        ...                ...
15635    Yakima 2024-08-02                  1
15636    Yakima 2024-07-25                  1
15637    Yakima 2024-08-03                  1
15638    Yakima 2024-07-25                  1
15639    Pierce 2024-07-05                  1

[15640 rows x 6 columns]

In [38]:
# sorted by observation count to see the highest values first
obs_count = required_col.sort_values(by='observation_count', ascending=False)
print(obs_count)

      date_local  observation_count  observation_percent validity_indicator  \
0     2024-01-01                 24                100.0                  Y
61485 2024-03-04                 24                100.0                  Y
10652 2024-04-23                 24                100.0                  Y
45223 2024-02-19                 24                100.0                  Y
61476 2024-03-03                 24                100.0                  Y
...          ...                ...                  ...                ...
25069 2024-11-14                  1                100.0                  Y
25070 2024-11-14                  1                100.0                  Y
25071 2024-11-14                  1                100.0                  Y
25072 2024-11-14                  1                100.0                  Y
70938 2024-12-31                  1                100.0                  Y

       arithmetic_mean  first_max_value        aqi  \
0            20.083333             43.0  20.083333
61485         2.791667              9.0   2.791667
10652         4.375000             15.0   4.375000
45223         8.125000             14.0   8.125000
61476         2.166667              7.0   2.166667
...                ...              ...        ...
25069         9.900000              9.9  52.000000
25070         9.900000              9.9  52.000000
25071         9.900000              9.9  52.000000
25072         9.900000              9.9  52.000000
70938         5.000000              5.0  28.000000

                                   local_site_name       state     county  \
0                            Seattle-10th & Weller  Washington       King
61485  Sunnyside-S16th St (Harrison Middle School)  Washington     Yakima
10652                             Tacoma-S 36th St  Washington     Pierce
45223                        Bellingham-Pacific St  Washington    Whatcom
61476  Sunnyside-S16th St (Harrison Middle School)  Washington     Yakima
...                                            ...         ...        ...
25069                          Omak-Colville Tribe  Washington   Okanogan
25070                          Omak-Colville Tribe  Washington   Okanogan
25071                          Omak-Colville Tribe  Washington   Okanogan
25072                          Omak-Colville Tribe  Washington   Okanogan
70938                                      Unknown  Washington  Snohomish

                city                         cbsa date_of_last_change  year  \
0            Seattle  Seattle-Tacoma-Bellevue, WA          2025-04-04  2024
61485      Sunnyside                   Yakima, WA          2025-04-04  2024
10652         Tacoma  Seattle-Tacoma-Bellevue, WA          2025-04-04  2024
45223     Bellingham               Bellingham, WA          2025-04-04  2024
61476      Sunnyside                   Yakima, WA          2025-04-04  2024
...              ...                          ...                 ...   ...
25069  Not in a city                      Unknown          2025-04-03  2024
25070  Not in a city                      Unknown          2025-04-03  2024
25071  Not in a city                      Unknown          2025-04-03  2024
25072  Not in a city                      Unknown          2025-04-03  2024
70938        Everett  Seattle-Tacoma-Bellevue, WA          2025-04-04  2024

       month  week
0          1     1
61485      3    10
10652      4    17
45223      2     8
61476      3     9
...      ...   ...
25069     11    46
25070     11    46
25071     11    46
25072     11    46
70938     12     1

[70939 rows x 16 columns]

In [40]:
# to get output by the couties, cities, month and week 

sorted_required_col = required_col.groupby(['county', 'city', 'month', 'week']).agg({'arithmetic_mean': 'mean','first_max_value': 'max','aqi': 'mean','local_site_name': 'nunique','year': 'first'}).reset_index()

In [42]:
# Renaming the columns according the transformation for clarity
sorted_required_col.rename(columns={'arithmetic_mean':'pollutant_mean', 'aqi':'aqi_avg'},inplace=True)

In [44]:
# data sort
sorted_required_col.sort_values(by=['county', 'city', 'month','week'], inplace=True)
print(sorted_required_col)

      county       city  month  week  pollutant_mean  first_max_value  \
0      Clark  Vancouver      1     1        5.233598             20.0
1      Clark  Vancouver      1     2        4.232879             18.0
2      Clark  Vancouver      1     3       11.234921             37.0
3      Clark  Vancouver      1     4        2.589792             16.0
4      Clark  Vancouver      1     5        5.274074             17.0
...      ...        ...    ...   ...             ...              ...
1027  Yakima     Yakima     12    48        9.602778             19.0
1028  Yakima     Yakima     12    49        6.631224             16.0
1029  Yakima     Yakima     12    50       12.554480             43.0
1030  Yakima     Yakima     12    51       11.912441             25.0
1031  Yakima     Yakima     12    52        6.448005             23.0

        aqi_avg  local_site_name  year
0     26.490741                1  2024
1     21.426530                1  2024
2     46.460317                1  2024
3     13.243760                1  2024
4     26.666667                1  2024
...         ...              ...   ...
1027  47.291667                1  2024
1028  34.185654                1  2024
1029  52.700959                1  2024
1030  51.247653                1  2024
1031  31.890258                1  2024

[1032 rows x 9 columns]

In [46]:
# saving data in csv formart
sorted_required_col.to_csv('cleaned_air_quality_washington.csv', index=False)

## 4.1 Load data to postgresql

In [ ]:
# import mysql.connector
# import numpy as np

# df = pd.read_csv('cleaned_air_quality_washington.csv')

# print(df.head())

# # Connecting to MySQL
# mysql_con = mysql.connector.connect(host='localhost', user='aqi_user', password='Vishal123', 
#                                      database='ev_project_final')

# # Created cursor to operate
# cursor = mysql_con.cursor()

# # Converting all pandas and numpy nullable types to Python types
# con_df = df.copy()  
# for col in con_df.columns:
#     dtype = con_df[col].dtype
#     if pd.api.types.is_integer_dtype(dtype):  
#         con_df[col] = con_df[col].astype('int32', errors='ignore').fillna(0).apply(lambda x: int(x))  
#     elif pd.api.types.is_float_dtype(dtype):  # Handles float64, float32
#         con_df[col] = con_df[col].astype('float64', errors='ignore').fillna(0.0).apply(lambda x: float(x))  
#     elif pd.api.types.is_string_dtype(dtype) or pd.api.types.is_object_dtype(dtype):
#         con_df[col] = con_df[col].astype(str).replace('nan', '') 
        
# # Dropping table if it exists
# cursor.execute("DROP TABLE IF EXISTS ev_analysis")

# # Creating table with data of DataFrame 
# columns = con_df.columns
# column_dtypes = []
# for col in columns:
#     dtype = con_df[col].dtype
#     if pd.api.types.is_integer_dtype(dtype):
#         column_dtypes.append(f"`{col}` INT")
#     elif pd.api.types.is_float_dtype(dtype):
#         column_dtypes.append(f"`{col}` FLOAT")
#     else:
#         column_dtypes.append(f"`{col}` VARCHAR(255)")  

# # Creating table
# create_table = f"CREATE TABLE ev_analysis ({', '.join(column_dtypes)})"
# cursor.execute(create_table)

# # Insert data in the created table 
# insert_data = f"INSERT INTO ev_analysis ({', '.join([f'`{col}`' for col in columns])}) VALUES ({', '.join(['%s'] * len(columns))})"
# for row in con_df.itertuples(index=False):
#     row = tuple(
#         int(x) if pd.api.types.is_integer_dtype(type(x)) 
#         else float(x) if pd.api.types.is_float_dtype(type(x)) 
#         else str(x) for x in row
#     )
#     cursor.execute(insert_data, row)

# # Commit changes
# mysql_con.commit()

# print("Cleaned data loaded into MySQL table 'ev_analysis'.")

# # Close cursor and connection
# cursor.close()
# mysql_con.close()

## 3.3 Connection With MongoDB and Data Transformation

In [5]:
import json
from pymongo import MongoClient
import pandas as pd
from datetime import datetime

#1:Now we try to upload the json to mongodb
cl=MongoClient('mongodb://localhost:27017/')
dab=cl['Group_Q_db']
coll=dab['ev_registrations']
coll.drop()

with open('ev_registrations.json','r') as file:
    json_da=json.load(file)
da=json_da['data']
colm=[col['name']for col in json_da['meta']['view']['columns']]
data_dt=[dict(zip(colm,recd))for recd in da]

In [6]:
#it is also necessary for us to insert it in chunks for better efficiency
cz=1000
total_rec=len(data_dt)
for i in range(0,total_rec,cz):
    ck=data_dt[i:i+cz]
    coll.insert_many(ck)
print(f"Total in MongoDB: {coll.count_documents({})}")

Total in MongoDB: 770809

Once the data is stored in mongodb run this command in update section of mongodb

{
  $unset: {
    'Transaction County': ''
  }
}

In [7]:
cl=MongoClient('mongodb://localhost:27017/')
dab=cl['ev_project']
coll=dab['ev_registrations']

In [8]:
sd=datetime(2023,1,1)
ed=datetime(2025,6,30)
evda=list(coll.find({'Fuel Type':'Electric','Transaction Date':{'$gte':sd.strftime('%Y-%m-%d'),'$lte':ed.strftime('%Y-%m-%d')}}))

In [9]:
df=pd.DataFrame(evda).drop(columns=['_id','sid','id','position','created_at','updated_at','updated_meta','meta','Fiscal Year'],errors='ignore')

df['Counts']=pd.to_numeric(df['Counts'],errors='coerce')
df=df.drop_duplicates()
print(len(df))

8797

In [10]:
print('uniq residential county',df['Residential County'].nunique())
print('unique fuel type',df['Fuel Type'].nunique())
print(df['Counts'].max())  #we try to see the max value of counts

uniq residential county 39
unique fuel type 1
8448

In [11]:
#we try to print only the monthly data instead of daily data
df['Transaction Date']=pd.to_datetime(df['Transaction Date'])
df['YearMonth']=df['Transaction Date'].dt.to_period('M')
df_group=df.groupby(['Residential County','YearMonth','Fuel Type','Primary Use Class'],as_index=False)['Counts'].sum()
df_group['Residential County']=df_group['Residential County'].str.strip()

print('first 5 rows',df_group.head())
df_group.to_csv('ev_cleaned_monthly.csv',index=False)

first 5 rows   Residential County YearMonth Fuel Type  Primary Use Class  Counts
0              Adams   2023-01  Electric         Commercial       1
1              Adams   2023-01  Electric  Passenger Vehicle       1
2              Adams   2023-02  Electric              Truck       1
3              Adams   2023-03  Electric  Passenger Vehicle       1
4              Adams   2023-04  Electric  Passenger Vehicle       4

## 4. EDA