# <b><U>9APDV: Analytics Programming & Data Visualization<b>

## CA-2 - Group Project[ 70 Marks]

## 0. Team Introduction

1.1. Student Name  : <b>Vishal Chaudhary</b> <br> 
1.2. Student ID    : <b>23332794</b> <br>
1.3. Stduent Email : x23332794@student.ncirl.ie <br>

2.1. Student Name  : <b>Murtza Arab </b> <br>
2.2. Student ID    : <b>23364394 </b> <br>
2.3. Stduent Email : x23364394@student.ncirl.ie  <br>

3.1. Student Name  : <b>Danish Rehman </b> <br>
3.2. Student ID    : <b>23425857 </b> <br>
3.3. Stduent Email : x23425857@student.ncirl.ie  <br>

## 1.1 <b>Washington AQI Data Description<b> 

 <font size="+0.8"><b>Features description:</b></font>
"""
<ul>
    <br><li><b>state_code</b>: Numeric code representing the U.S. state where the monitoring site is located.</li>
    <br><li><b>county_code</b>: Numeric code representing the county within the state.</li>
    <br><li><b>site_number</b>: Unique identifier for the specific monitoring site.</li>
    <br><li><b>parameter_code</b>: Numeric code for the type of pollutant or parameter being measured.</li>
    <br><li><b>poc</b>: Parameter Occurrence Code – used to distinguish between multiple instruments measuring the same parameter at a site.</li>
    <br><li><b>latitude</b>: Geographic latitude of the monitoring site.</li>
    <br><li><b>longitude</b>: Geographic longitude of the monitoring site.</li>
    <br><li><b>datum</b>: Geodetic datum used for the site's geographic coordinates (WGS84)</li>
    <br><li><b>parameter</b>: 	Name of the pollutant or parameter measured "PM2.5 - Local Conditions".</li>
    <br><li><b>sample_duration_code</b>: Coded value representing the duration of the sample collection.</li>
    <br><li><b>sample_duration</b>: Full name/description of the sample duration.</li>
    <br><li><b>pollutant_standard</b>: Air quality standard associated with the parameter.</li>
    <br><li><b>date_local</b>: Date of observation format: YYYY-MM-DD.</li>
    <br><li><b>units_of_measure</b>: Units in which the pollutant concentration is measured.</li>
    <br><li><b>event_type</b>: Type of event during sampling.</li>
    <br><li><b>observation_count</b>: Number of observations included in the reported value calculation.</li>
    <br><li><b>observation_percent</b>: Percentage of observations needed to be measured over the sample period.</li>
    <br><li><b>validity_indicator</b>: Indicator flag for whether the data is valid.</li>
    <br><li><b>arithmetic_mean</b>: Average concentration value of the pollutant.</li>
    <br><li><b>first_max_value</b>: Maximum concentration value observed.</li>
    <br><li><b>first_max_hour</b>: Day hour (0–23) when the first_max_value was achieved.</li>
    <br><li><b>aqi</b>: Air Quality Index value based upon the observation.</li>
    <br><li><b>method_code</b>: Numerical code referring to the method in which the pollutant was measured.</li>
    <br><li><b>method</b>: Indicates measurement method used.</li>
    <br><li><b>local_site_name</b>: Monitor location name, as provided by the local agency.</li>
    <br><li><b>site_address</b>: Physical street address of monitoring site.</li>
    <br><li><b>state</b>: Complete title of the U.S. state where the site is located.</li>
    <br><li><b>county</b>: Complete title of the county where the site is located.</li>
    <br><li><b>city</b>: City/town name where monitoring site is located.</li>
    <br><li><b>cbsa_code</b>: Core-Based Statistical Area code — identifies metropolitan/micropolitan divisions.</li>
    <br><li><b>cbsa</b>: Core-Based Statistical Area code —CBSA region name .</li>
    <br><li><b>date_of_last_change</b>: Date on which the data for this record was last changed.</li>
</ul>
"""

## 2.1 AQI DATA IMPORT
Importing AQI data from United States Environmental Protection Agency through API

Data source: https://aqs.epa.gov/aqsweb/documents/data_api.html 

Sample Url: https://aqs.epa.gov/data/api/dailyData/bySiteemail=test@aqs.api&key=test&param=44201&bdate=20170618&edate=20170618&state=37&county=183&site=0014

In [1]:
# Importing all required libraries  
import requests
import json
import pymongo
import numpy as np
import pandas as pd
import seaborn as sns
import mysql.connector
from datetime import datetime
from pymongo import MongoClient
import matplotlib.pyplot as plt

In [2]:
# Environmental protection Agency api credentials that is going to be used to collect data
acc_email = "ch.vishal400@gmail.com"  
acc_apikey = "sandkit13"

In [3]:
# common link to retrieve data by providing required parameters
com_url = "https://aqs.epa.gov/data/api/dailyData/byState"

# parameters that are required by the common link to retrieve data
params = {
    "email": acc_email,
    "key": acc_apikey,
    "param": "88101",  # PM2.5 (Particulate Matter pollution Local Conditions)
    "bdate": "20240101",  # Dataset Begining date 1 January 2024
    "edate": "20241231",  # Dataset Ending date 31 December 2024
    "state": "53" }  # code of the Washington state

In [4]:
# defining function to get data from EPA by using api
def air_quality(com_url, params):
    response = requests.get(com_url, params=params)
    if response.status_code == 200:
        wa_data = response.json()
        if wa_data["Header"][0]["status"] == "Success":
            return wa_data["Data"]
        else:
            print("Some error occured:", wa_data["Header"][0]["error"])
            return None
    else:
        print(f" Error: {response.status_code}")
        return None

In [5]:
# retrieving the dataset of Washington aqi from EPA and converting it to dataframe
print("Stared collecting data of washington aqi, 2024...")
air_quality_data = air_quality(com_url, params)

wa_air_quality = pd.DataFrame(air_quality_data)

Stared collecting data of washington aqi, 2024...

In [6]:
# checking the overall data 
print(type(wa_air_quality))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(wa_air_quality.head())

  state_code county_code site_number parameter_code  poc   latitude  \
0         53         033        0030          88101    5  47.597222
1         53         033        0030          88101    5  47.597222
2         53         033        0030          88101    5  47.597222
3         53         033        0030          88101    5  47.597222
4         53         033        0030          88101    5  47.597222

    longitude  datum                 parameter sample_duration_code  ...  \
0 -122.319722  WGS84  PM2.5 - Local Conditions                    1  ...
1 -122.319722  WGS84  PM2.5 - Local Conditions                    X  ...
2 -122.319722  WGS84  PM2.5 - Local Conditions                    X  ...
3 -122.319722  WGS84  PM2.5 - Local Conditions                    X  ...
4 -122.319722  WGS84  PM2.5 - Local Conditions                    X  ...

  method_code                                             method  \
0         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...
1         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...
2         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...
3         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...
4         170  Met One BAM-1020 Mass Monitor w/VSCC - Beta At...

         local_site_name   site_address       state  county     city  \
0  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle
1  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle
2  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle
3  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle
4  Seattle-10th & Weller  10th & Weller  Washington    King  Seattle

  cbsa_code                         cbsa  date_of_last_change
0     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04
1     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04
2     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04
3     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04
4     42660  Seattle-Tacoma-Bellevue, WA           2025-04-04

[5 rows x 32 columns]

In [8]:
print(wa_air_quality.columns.tolist())

['state_code', 'county_code', 'site_number', 'parameter_code', 'poc', 'latitude', 'longitude', 'datum', 'parameter', 'sample_duration_code', 'sample_duration', 'pollutant_standard', 'date_local', 'units_of_measure', 'event_type', 'observation_count', 'observation_percent', 'validity_indicator', 'arithmetic_mean', 'first_max_value', 'first_max_hour', 'aqi', 'method_code', 'method', 'local_site_name', 'site_address', 'state', 'county', 'city', 'cbsa_code', 'cbsa', 'date_of_last_change']

In [9]:
print("Number of rows:", len(wa_air_quality))

Number of rows: 70939

In [10]:
# saving this dataset in the json file
with open('air_quality.json', 'w') as f:
    json.dump(air_quality_data, f, indent=4)

## 1.2 <b>Washington Alternate Fuel Stations Description<b> 

 <font size="+0.8"><b>Features description:</b></font>
"""
<ul>
    <br><li><b>access_code</b>: Specifies the access level of the station (e.g., public, private).</li>
        <br><li><b>access_days</b>: Indicates the days the station is accessible (e.g., Mon-Fri).</li>
        <br><li><b>access_detail_cards</b>: Details about access cards or methods for station use (e.g., RFID, app).</li>
        <br><li><b>accept_date</b>: Date when the station started accepting a specific fuel type.</li>
        <br><li><b>last_co_expected_date</b>: Last date the station was expected to confirm its operational status.</li>
        <br><li><b>fuel_type_code</b>: Code representing the type of fuel offered (e.g., ELEC for electric).</li>
        <br><li><b>groups_with_id</b>: Identifier for groups or networks the station is part of (e.g., charging network ID).</li>
        <br><li><b>maximum_ve_open_date</b>: The latest date a vehicle can access the station based on its operational schedule.</li>
        <br><li><b>owner_type</b>: Type of entity that owns the station (e.g., government, private company).</li>
        <br><li><b>restricted_access</b>: Indicates if access to the station is restricted (e.g., employees only).</li>
        <br><li><b>funding_source</b>: Source of funding for the station (e.g., federal grant, private investment).</li>
        <br><li><b>facility_type</b>: Type of facility where the station is located (e.g., gas station, parking lot).</li>
        <br><li><b>station_name</b>: Name of the fuel station (e.g., "Downtown Charging Hub").</li>
        <br><li><b>station_phone</b>: Phone number for contacting the station.</li>
        <br><li><b>updated_at</b>: Timestamp of the last update to the station’s data.</li>
        <br><li><b>geocode_status</b>: Status of the geocoding process for the station’s location (e.g., 200-9 for success).</li>
        <br><li><b>latitude</b>: Geographic latitude coordinate of the station.</li>
        <br><li><b>longitude</b>: Geographic longitude coordinate of the station.</li>
        <br><li><b>city</b>: City where the station is located (e.g., Seattle).</li>
        <br><li><b>country</b>: Country where the station is located (e.g., US).</li>
        <br><li><b>intersection_plus4</b>: Additional intersection details for the station’s address (e.g., cross streets).</li>
        <br><li><b>state</b>: State where the station is located (e.g., WA).</li>
        <br><li><b>street_address</b>: Street address of the station (e.g., 123 Main St).</li>
        <br><li><b>zip</b>: ZIP code of the station’s location (e.g., 98101).</li>
        <br><li><b>bd_blends</b>: Types of biodiesel blends offered at the station (e.g., B20).</li>
        <br><li><b>cng_dispenser</b>: Number or type of compressed natural gas (CNG) dispensers at the station.</li>
        <br><li><b>cng_fill_type</b>: Type of CNG fill available (e.g., fast-fill, time-fill).</li>
        <br><li><b>cng_psi</b>: Pressure level of CNG offered (e.g., 3600 psi).</li>
        <br><li><b>cng_renewable</b>: Indicates if the CNG is sourced from renewable methods (e.g., yes/no).</li>
        <br><li><b>cng_total_co</b>: Total compression capacity for CNG at the station.</li>
        <br><li><b>cng_total_stc</b>: Total storage capacity for CNG at the station.</li>
        <br><li><b>cng_vehicle</b>: Types of vehicles supported by the CNG station (e.g., heavy-duty, light-duty).</li>
    </ul>

## 2.2 Alternate Fuel Stations DATA IMPORT
Importing Alternate Fuel Stations data from United States Environmental Protection Agency through API

Data source: https://developer.nrel.gov/api/alt-fuel-stations/v1.json?api_key=8DqksjoYZYBuMOBaVo9ExjXoHmhYSPY3qLd34oHH

In [11]:
#Importing data through API with python REQUESTS module 

def download_json_from_api(api_url, output_file="output.json"):
    try:
        # Send GET request to the API
        response = requests.get(api_url)
        response.raise_for_status()
        json_data = response.json()
        
        # Saving JSON to file
        with open(output_file, 'w') as f:
            import json
            json.dump(json_data, f, indent=4)
            
        print(f"JSON file saved as {output_file}")
        
    except requests.exceptions.RequestException as e:
        print(f"Error downloading file: {e}")
    except ValueError as e:
        print(f"Error parsing JSON: {e}")
    except IOError as e:
        print(f"Error saving file: {e}")

api_url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.json?api_key=8DqksjoYZYBuMOBaVo9ExjXoHmhYSPY3qLd34oHH" 
download_json_from_api(api_url, "Alt_fuel_stations.json")

JSON file saved as Alt_fuel_stations.json

## 1.3 <b>Washington EV Vehicle Regisrtions Description<b> 

 <font size="+0.8"><b>Features description:</b></font>

<ul>
    <br><li><b>Fiscal Year</b>: Descries about the year when the vehicle was purchased.</li>
    <br><li><b>Transaction Date</b>: Descries about the exact date when the vehicle was purchased</li>
    <br><li><b>Transaction County</b>: Descries about the county where the vehicle was purchased.</li>
    <br><li><b>Residential County</b>: Descries about the residentail county of the owner of the vehicle.</li>
    <br><li><b>Fuel Type</b>: Descries about the type of fuel vehicle runs on.</li>
    <br><li><b>Primary Use Class</b>: Tells us about for what purpose the vehiicle is used in.</li>
    
</ul>

## 2.3 Washington EV Vehicle Regisrtion

Data imported from local system and downloaded from the link mentioned below in the json format.

https://catalog.data.gov/dataset/vehicle-registrations-by-class-and-county

## 3.1.1 AQI Connection With MongoDB

In [12]:
import json
import pandas as pd
import pymongo
import numpy as np
from pymongo import MongoClient

# Connect to MongoDB
mongo_cl = MongoClient("mongodb://localhost:27017/")
mongo_db = mongo_cl["Group_Q_db"]
mongo_collection = mongo_db["wa_air_quality"]

In [13]:
# Load JSON
with open("air_quality.json") as f:
    data = json.load(f)

In [14]:
# Print first 2 records to inspect structure
print(data[:2])

[{'state_code': '53', 'county_code': '033', 'site_number': '0030', 'parameter_code': '88101', 'poc': 5, 'latitude': 47.597222, 'longitude': -122.319722, 'datum': 'WGS84', 'parameter': 'PM2.5 - Local Conditions', 'sample_duration_code': '1', 'sample_duration': '1 HOUR', 'pollutant_standard': None, 'date_local': '2024-01-01', 'units_of_measure': 'Micrograms/cubic meter (LC)', 'event_type': 'No Events', 'observation_count': 24, 'observation_percent': 100.0, 'validity_indicator': 'Y', 'arithmetic_mean': 20.083333, 'first_max_value': 43.0, 'first_max_hour': 6, 'aqi': None, 'method_code': '170', 'method': 'Met One BAM-1020 Mass Monitor w/VSCC - Beta Attenuation', 'local_site_name': 'Seattle-10th & Weller', 'site_address': '10th & Weller', 'state': 'Washington', 'county': 'King', 'city': 'Seattle', 'cbsa_code': '42660', 'cbsa': 'Seattle-Tacoma-Bellevue, WA', 'date_of_last_change': '2025-04-04'}, {'state_code': '53', 'county_code': '033', 'site_number': '0030', 'parameter_code': '88101', 'poc': 5, 'latitude': 47.597222, 'longitude': -122.319722, 'datum': 'WGS84', 'parameter': 'PM2.5 - Local Conditions', 'sample_duration_code': 'X', 'sample_duration': '24-HR BLK AVG', 'pollutant_standard': 'PM25 24-hour 2006', 'date_local': '2024-01-01', 'units_of_measure': 'Micrograms/cubic meter (LC)', 'event_type': 'No Events', 'observation_count': 1, 'observation_percent': 100.0, 'validity_indicator': 'Y', 'arithmetic_mean': 20.0, 'first_max_value': 20.0, 'first_max_hour': 0, 'aqi': 71, 'method_code': '170', 'method': 'Met One BAM-1020 Mass Monitor w/VSCC - Beta Attenuation', 'local_site_name': 'Seattle-10th & Weller', 'site_address': '10th & Weller', 'state': 'Washington', 'county': 'King', 'city': 'Seattle', 'cbsa_code': '42660', 'cbsa': 'Seattle-Tacoma-Bellevue, WA', 'date_of_last_change': '2025-04-04'}]

In [15]:
#Inserting data in mongo collection
mongo_collection.insert_many(data)
print("Data uploaded successfully!")

Data uploaded successfully!

## 3.1.2 AQI Data Transformation

In [16]:
import pandas as pd

df = mongo_collection.find() # gathering all docs from mongo
mongo_data = pd.DataFrame(list(df)) # converting the data into dataframe
len(mongo_data)

70939

In [17]:
print(mongo_data.dtypes) # checking the datatypes of each column

_id                      object
state_code               object
county_code              object
site_number              object
parameter_code           object
poc                       int64
latitude                float64
longitude               float64
datum                    object
parameter                object
sample_duration_code     object
sample_duration          object
pollutant_standard       object
date_local               object
units_of_measure         object
event_type               object
observation_count         int64
observation_percent     float64
validity_indicator       object
arithmetic_mean         float64
first_max_value         float64
first_max_hour            int64
aqi                     float64
method_code              object
method                   object
local_site_name          object
site_address             object
state                    object
county                   object
city                     object
cbsa_code                object
cbsa                     object
date_of_last_change      object
dtype: object

In [18]:
print(mongo_data.isnull().sum()) # checking if any value is missing in columns

_id                        0
state_code                 0
county_code                0
site_number                0
parameter_code             0
poc                        0
latitude                   0
longitude                  0
datum                      0
parameter                  0
sample_duration_code       0
sample_duration            0
pollutant_standard      7787
date_local                 0
units_of_measure           0
event_type                 0
observation_count          0
observation_percent        0
validity_indicator         0
arithmetic_mean            0
first_max_value            0
first_max_hour             0
aqi                     7787
method_code                0
method                     0
local_site_name         2039
site_address               0
state                      0
county                     0
city                       0
cbsa_code               3718
cbsa                    3718
date_of_last_change        0
dtype: int64

In [19]:
# Dropping rows with null values in numeric columns
num_cols = mongo_data.select_dtypes(include=np.number).columns
mongo_data = mongo_data.dropna(subset=num_cols)

In [20]:
# Dropping rows with null values in non numeric columns
non_num_cols = mongo_data.select_dtypes(exclude=np.number).columns
mongo_data[non_num_cols] = mongo_data[non_num_cols].fillna('')

In [21]:
len(mongo_data)

63152

In [22]:
unique_mongo_data = mongo_data.drop_duplicates()

In [23]:
# deleting unwanted columns
required_col = unique_mongo_data.drop(['_id', 'state_code','county_code', 'site_number','parameter_code','first_max_hour', 'method_code','method',
             'poc', 'latitude','longitude', 'datum','parameter','cbsa_code', 'site_address',
             'sample_duration_code', 'sample_duration','pollutant_standard', 'units_of_measure','event_type','date_of_last_change'], axis = 1)

In [24]:
required_col.head()

,date_local,observation_count,observation_percent,validity_indicator,arithmetic_mean,first_max_value,aqi,local_site_name,state,county,city,cbsa
1,2024-01-01,1,100.0,Y,20.0,20.0,71.0,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA"
2,2024-01-01,1,100.0,Y,20.0,20.0,71.0,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA"
3,2024-01-01,1,100.0,Y,20.0,20.0,71.0,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA"
4,2024-01-01,1,100.0,Y,20.0,20.0,71.0,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA"
5,2024-01-01,1,100.0,Y,20.0,20.0,71.0,Seattle-10th & Weller,Washington,King,Seattle,"Seattle-Tacoma-Bellevue, WA"

In [25]:
required_col['cbsa'] = required_col['cbsa'].fillna('Unknown')  #filling missing values in column 'cbsa'
required_col['local_site_name'] = required_col['local_site_name'].fillna('Unknown')  #filling missing values in column 'local_site_name'
required_col['aqi'] = required_col['aqi'].fillna(required_col['arithmetic_mean']) # filling missing values in aqi column with values from mean columns

In [26]:
# convert normal date format to datetime, so that year and month can be extracted
required_col['date_local'] = pd.to_datetime(required_col['date_local'], errors = 'coerce')

In [27]:
print(required_col['date_local'].head()) 

required_col['month'] = required_col['date_local'].dt.month #extracted month from date_local column and create a new column 'month'
required_col['week'] = required_col['date_local'].dt.isocalendar().week

1   2024-01-01
2   2024-01-01
3   2024-01-01
4   2024-01-01
5   2024-01-01
Name: date_local, dtype: datetime64[ns]

In [28]:
# maximum observation count by local aqi, local site name, city and county

obs_count = required_col.groupby(['aqi', 'local_site_name', 'city', 'county', 'date_local'])['observation_count'].max().reset_index()

print(obs_count)

        aqi                     local_site_name                city    county  \
0       0.0                                      Nespelem Community  Okanogan
1       0.0                                      Nespelem Community  Okanogan
2       0.0                                      Nespelem Community  Okanogan
3       0.0                                      Nespelem Community  Okanogan
4       0.0                                      Nespelem Community  Okanogan
...     ...                                 ...                 ...       ...
7849  114.0  TOPPENISH - WARD RD (YAKAMA TRIBE)           Toppenish    Yakima
7850  119.0  TOPPENISH - WARD RD (YAKAMA TRIBE)           Toppenish    Yakima
7851  137.0  TOPPENISH - WARD RD (YAKAMA TRIBE)           Toppenish    Yakima
7852  153.0                    YAKIMA - 4TH AVE              Yakima    Yakima
7853  166.0                   TACOMA - L STREET              Tacoma    Pierce

     date_local  observation_count
0    2024-10-17                  1
1    2024-10-18                  1
2    2024-10-22                  1
3    2024-10-23                  1
4    2024-10-28                  1
...         ...                ...
7849 2024-08-02                  1
7850 2024-07-25                  1
7851 2024-08-03                  1
7852 2024-07-25                  1
7853 2024-07-05                  1

[7854 rows x 6 columns]

In [29]:
# Renaming the columns according the transformation for clarity
required_col.rename(columns={'arithmetic_mean':'pollutant_mean'},inplace=True)

In [30]:
cleaned_data = required_col.drop_duplicates()

In [31]:
cleaned_data.head()
len(cleaned_data)

7877

In [32]:
# saving data in csv formart
cleaned_data.to_csv('cleaned_air_quality.csv', index=False)

## 3.2.1 Fuel stations Connection With MongoDB

In [33]:
from pymongo import MongoClient
import json

# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["Group_Q_db"]
collection = db["Alt_fuel_stations"]

# Read and import the JSON file, extracting 'fuel_stations' array
with open("Alt_fuel_stations.json", "r") as file:
    data = json.load(file)  
    stations = data["fuel_stations"]  
    collection.insert_many(stations)  

print(f"Data import process completed! Inserted {len(stations)} documents.")

Data import process completed! Inserted 95655 documents.

## 3.2.2 Fuel station Data Transformation

In [34]:

# Check headers by inspecting a sample document
sample_document = collection.find_one()
if sample_document:
    print("Fields in a sample document:")
    for field in sample_document.keys():
        print(f"- {field}")
else:
    print("No documents found in the collection.")

Fields in a sample document:
- _id
- access_code
- access_days_time
- access_detail_code
- cards_accepted
- date_last_confirmed
- expected_date
- fuel_type_code
- groups_with_access_code
- id
- maximum_vehicle_class
- open_date
- owner_type_code
- restricted_access
- status_code
- funding_sources
- facility_type
- station_name
- station_phone
- updated_at
- geocode_status
- latitude
- longitude
- city
- country
- intersection_directions
- plus4
- state
- street_address
- zip
- bd_blends
- cng_dispenser_num
- cng_fill_type_code
- cng_has_rng
- cng_psi
- cng_renewable_source
- cng_total_compression
- cng_total_storage
- cng_vehicle_class
- e85_blender_pump
- e85_other_ethanol_blends
- ev_connector_types
- ev_dc_fast_num
- ev_level1_evse_num
- ev_level2_evse_num
- ev_network
- ev_network_web
- ev_other_evse
- ev_pricing
- ev_renewable_source
- ev_workplace_charging
- hy_is_retail
- hy_pressures
- hy_standards
- hy_status_link
- lng_has_rng
- lng_renewable_source
- lng_vehicle_class
- lpg_nozzle_types
- lpg_primary
- ng_fill_type_code
- ng_psi
- ng_vehicle_class
- rd_blended_with_biodiesel
- rd_blends
- rd_blends_fr
- rd_max_biodiesel_level
- nps_unit_name
- access_days_time_fr
- intersection_directions_fr
- bd_blends_fr
- groups_with_access_code_fr
- ev_pricing_fr

In [35]:

fields_to_remove = [
    'access_code', 'access_days_time', 'access_detail_code', 'cards_accepted', 'expected_date',
    'groups_with_access_code', 'id', 'maximum_vehicle_class', 'owner_type_code', 'restricted_access',
    'funding_sources', 'facility_type', 'station_phone', 'updated_at', 'country', 'intersection_directions',
    'plus4', 'street_address', 'zip', 'bd_blends', 'cng_dispenser_num', 'cng_fill_type_code', 'cng_has_rng',
    'cng_psi', 'cng_renewable_source', 'cng_total_compression', 'cng_total_storage', 'cng_vehicle_class',
    'e85_blender_pump', 'e85_other_ethanol_blends', 'ev_connector_types', 'ev_dc_fast_num', 'ev_level1_evse_num',
    'ev_level2_evse_num', 'ev_network', 'ev_network_web', 'ev_other_evse', 'ev_pricing', 'ev_renewable_source',
    'ev_workplace_charging', 'hy_is_retail', 'hy_pressures', 'hy_standards', 'hy_status_link', 'lng_has_rng',
    'lng_renewable_source', 'lng_vehicle_class', 'lpg_nozzle_types', 'lpg_primary', 'ng_fill_type_code',
    'ng_psi', 'ng_vehicle_class', 'rd_blended_with_biodiesel', 'rd_blends', 'rd_blends_fr', 'rd_max_biodiesel_level',
    'nps_unit_name', 'intersection_directions_fr', 'bd_blends_fr', 'groups_with_access_code_fr', 'ev_pricing_fr'
]

unset_fields = {field: "" for field in fields_to_remove}
result = collection.update_many({}, {"$unset": unset_fields})
print(f"Updated {result.modified_count} documents. Fields removed.")

Updated 95655 documents. Fields removed.

In [36]:

# Checking remaining headers after removing columns
sample_document = collection.find_one()
if sample_document:
    print("Fields in a sample document:")
    for field in sample_document.keys():
        print(f"- {field}")
else:
    print("No documents found in the collection.")

Fields in a sample document:
- _id
- date_last_confirmed
- fuel_type_code
- open_date
- status_code
- station_name
- geocode_status
- latitude
- longitude
- city
- state
- access_days_time_fr

In [37]:
import pandas as pd
df = pd.DataFrame(list(collection.find()))
df.head()

,_id,date_last_confirmed,fuel_type_code,open_date,status_code,station_name,geocode_status,latitude,longitude,city,state,access_days_time_fr,federal_agency,ev_network_ids
0,6801836c241a3822c7173e00,2024-10-11,CNG,2010-12-01,E,Spire - Montgomery Operations Center,200-9,32.367916,-86.267021,Montgomery,AL,None,NaN,NaN
1,6801836c241a3822c7173e01,2024-02-12,CNG,1996-12-15,E,Metropolitan Atlanta Rapid Transit Authority,200-8,33.821911,-84.367461,Atlanta,GA,None,NaN,NaN
2,6801836c241a3822c7173e02,2023-12-13,CNG,1997-01-01,E,United Parcel Service,200-9,33.760256,-84.543822,Atlanta,GA,None,NaN,NaN
3,6801836c241a3822c7173e03,2024-04-14,CNG,1997-01-01,E,Arkansas Oklahoma Gas Corp,200-9,35.362213,-94.375338,Fort Smith,AR,None,NaN,NaN
4,6801836c241a3822c7173e04,2024-12-10,CNG,1996-11-15,E,Clean Energy - Logan International Airport,GPS,42.374706,-71.026549,East Boston,MA,None,NaN,NaN

In [38]:
#Removing and filtering all records that are not of Washington state
df['state'] = df['state'].astype(str).str.strip().str.upper()

# Filtering only Wshington state
df = df[df['state'].isin(['WA', 'WASHINGTON'])]

df.reset_index(drop=True, inplace=True)

print(f"Filtered DataFrame shape: {df.shape}")
df.head()

Filtered DataFrame shape: (3138, 14)

,_id,date_last_confirmed,fuel_type_code,open_date,status_code,station_name,geocode_status,latitude,longitude,city,state,access_days_time_fr,federal_agency,ev_network_ids
0,6801836c241a3822c7173f4d,2024-08-15,LPG,1999-07-08,E,Burlington Country Store,200-9,48.461001,-122.335019,Burlington,WA,None,NaN,NaN
1,6801836c241a3822c7173f4e,2024-08-15,LPG,1999-07-08,E,Skagit Farmers Country Store,200-9,48.291006,-122.657044,Oak Harbor,WA,None,NaN,NaN
2,6801836c241a3822c7173f4f,2024-08-15,LPG,1999-07-08,E,Hank's Mini Market,200-9,48.360131,-120.117777,Twisp,WA,None,NaN,NaN
3,6801836c241a3822c7173f50,2024-07-11,LPG,1999-07-08,E,AmeriGas,200-9,46.592964,-120.509003,Yakima,WA,None,NaN,NaN
4,6801836c241a3822c7173f51,2024-08-15,LPG,1993-02-01,E,All American Propane Inc,200-9,46.579372,-120.458565,Yakima,WA,None,NaN,NaN

In [39]:
#Checking the number of null counts in each column
null_counts = df.isnull().sum()
print(null_counts)

_id                       0
date_last_confirmed       8
fuel_type_code            0
open_date                16
status_code               0
station_name              0
geocode_status            0
latitude                  0
longitude                 0
city                      0
state                     0
access_days_time_fr    3138
federal_agency         3033
ev_network_ids          737
dtype: int64

In [40]:
#Dropping column that is not needed
df.drop(columns=['access_days_time_fr','federal_agency','ev_network_ids'], inplace=True)

In [41]:
#Removing all rows that containg a null value 
df.dropna(inplace=True)

df.reset_index(drop=True, inplace=True)

print(f"DataFrame shape after removing nulls: {df.shape}")
df.head()

DataFrame shape after removing nulls: (3114, 11)

,_id,date_last_confirmed,fuel_type_code,open_date,status_code,station_name,geocode_status,latitude,longitude,city,state
0,6801836c241a3822c7173f4d,2024-08-15,LPG,1999-07-08,E,Burlington Country Store,200-9,48.461001,-122.335019,Burlington,WA
1,6801836c241a3822c7173f4e,2024-08-15,LPG,1999-07-08,E,Skagit Farmers Country Store,200-9,48.291006,-122.657044,Oak Harbor,WA
2,6801836c241a3822c7173f4f,2024-08-15,LPG,1999-07-08,E,Hank's Mini Market,200-9,48.360131,-120.117777,Twisp,WA
3,6801836c241a3822c7173f50,2024-07-11,LPG,1999-07-08,E,AmeriGas,200-9,46.592964,-120.509003,Yakima,WA
4,6801836c241a3822c7173f51,2024-08-15,LPG,1993-02-01,E,All American Propane Inc,200-9,46.579372,-120.458565,Yakima,WA

In [45]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

# Download Washington counties and save as CSV
def download_wa_counties_csv():
    url = "https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json"
    counties = gpd.read_file(url)
    wa_counties = counties[counties['STATE'] == '53']  # Filter for Washington
    wa_counties['rep_point'] = wa_counties.geometry.representative_point()
    wa_counties['lon'] = wa_counties.rep_point.x
    wa_counties['lat'] = wa_counties.rep_point.y
    
    # Save file as CSV
    wa_counties[['NAME', 'lat', 'lon']].to_csv("wa_counties.csv", index=False)

download_wa_counties_csv()

c:\Users\Danish Rehman\anaconda3\Lib\site-packages\geopandas\geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
c:\Users\Danish Rehman\anaconda3\Lib\site-packages\geopandas\geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
c:\Users\Danish Rehman\anaconda3\Lib\site-packages\geopandas\geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [46]:
from sklearn.neighbors import NearestNeighbors
import numpy as np

def add_counties_from_csv(df, lat_col='latitude', lon_col='longitude'):
    counties = pd.read_csv("wa_counties.csv")
    
    coords = counties[['lat', 'lon']].values
    nbrs = NearestNeighbors(n_neighbors=1).fit(coords)
    
    stations = df[[lat_col, lon_col]].values
    _, indices = nbrs.kneighbors(stations)
    
    df['county'] = counties.iloc[indices.flatten()]['NAME'].values
    return df

result = add_counties_from_csv(df)
print(result[[ '_id','county']])

                           _id    county
0     6801836c241a3822c7173f4d    Island
1     6801836c241a3822c7173f4e    Island
2     6801836c241a3822c7173f4f  Okanogan
3     6801836c241a3822c7173f50    Yakima
4     6801836c241a3822c7173f51    Yakima
...                        ...       ...
3109  6801836d241a3822c718b385   Spokane
3110  6801836d241a3822c718b386   Spokane
3111  6801836d241a3822c718b387   Spokane
3112  6801836d241a3822c718b38d    Kitsap
3113  6801836d241a3822c718b39b   Spokane

[3114 rows x 2 columns]

In [47]:
df.head()

,_id,date_last_confirmed,fuel_type_code,open_date,status_code,station_name,geocode_status,latitude,longitude,city,state,county
0,6801836c241a3822c7173f4d,2024-08-15,LPG,1999-07-08,E,Burlington Country Store,200-9,48.461001,-122.335019,Burlington,WA,Island
1,6801836c241a3822c7173f4e,2024-08-15,LPG,1999-07-08,E,Skagit Farmers Country Store,200-9,48.291006,-122.657044,Oak Harbor,WA,Island
2,6801836c241a3822c7173f4f,2024-08-15,LPG,1999-07-08,E,Hank's Mini Market,200-9,48.360131,-120.117777,Twisp,WA,Okanogan
3,6801836c241a3822c7173f50,2024-07-11,LPG,1999-07-08,E,AmeriGas,200-9,46.592964,-120.509003,Yakima,WA,Yakima
4,6801836c241a3822c7173f51,2024-08-15,LPG,1993-02-01,E,All American Propane Inc,200-9,46.579372,-120.458565,Yakima,WA,Yakima

In [48]:
#Rechecking the null values and the total records after removing null rows
null_counts = df.isnull().sum()
print(null_counts)
print(f"DataFrame shape: {df.shape}")

_id                    0
date_last_confirmed    0
fuel_type_code         0
open_date              0
status_code            0
station_name           0
geocode_status         0
latitude               0
longitude              0
city                   0
state                  0
county                 0
dtype: int64
DataFrame shape: (3114, 12)

In [49]:
#removing all records where fuel type is not ELEC
df = df[df['fuel_type_code'] == 'ELEC']

df.reset_index(drop=True, inplace=True)
print(f"DataFrame shape after filtering for ELEC fuel type: {df.shape}")
print(df.head())

DataFrame shape after filtering for ELEC fuel type: (2955, 12)
                        _id date_last_confirmed fuel_type_code   open_date  \
0  6801836c241a3822c71745bb          2023-01-10           ELEC  2018-01-15
1  6801836c241a3822c71745fc          2023-12-13           ELEC  2010-03-01
2  6801836c241a3822c71747bb          2023-06-12           ELEC  2010-04-15
3  6801836c241a3822c71747bc          2023-04-06           ELEC  2010-04-15
4  6801836c241a3822c71748c5          2025-04-17           ELEC  2010-12-15

  status_code                                       station_name  \
0           E                  City of Lacey - City Hall Parking
1           E  Seattle-Tacoma International Airport - General...
2           E                                        Avista Corp
3           E                                Steam Plant Parking
4           T                             BELLEVUE BELLEVUE CH 1

  geocode_status   latitude   longitude      city state    county
0          200-9  47.044011 -122.822404     Lacey    WA  Thurston
1          200-8  47.443377 -122.296229   Seattle    WA      King
2            GPS  47.673347 -117.388933   Spokane    WA   Spokane
3            GPS  47.655792 -117.423664   Spokane    WA   Spokane
4            GPS  47.614744 -122.193162  Bellevue    WA      King

In [50]:
#converting date_last_confimred and open_date to date format for further analysis
df['date_last_confirmed'] = pd.to_datetime(df['date_last_confirmed'], errors='coerce')
df['open_date'] = pd.to_datetime(df['open_date'], errors='coerce')

print(df.dtypes[['date_last_confirmed', 'open_date']])

date_last_confirmed    datetime64[ns]
open_date              datetime64[ns]
dtype: object

C:\Users\Danish Rehman\AppData\Local\Temp\ipykernel_27764\1648280428.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_last_confirmed'] = pd.to_datetime(df['date_last_confirmed'], errors='coerce')
C:\Users\Danish Rehman\AppData\Local\Temp\ipykernel_27764\1648280428.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['open_date'] = pd.to_datetime(df['open_date'], errors='coerce')

In [51]:
#Dropping columns that are not required anymore
df.drop(columns=['geocode_status','latitude','longitude','state','_id'], inplace=True)

C:\Users\Danish Rehman\AppData\Local\Temp\ipykernel_27764\1918728454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['geocode_status','latitude','longitude','state','_id'], inplace=True)

In [52]:
#new Data frame after removing all unnecessary columns
df.head(10)

,date_last_confirmed,fuel_type_code,open_date,status_code,station_name,city,county
0,2023-01-10,ELEC,2018-01-15,E,City of Lacey - City Hall Parking,Lacey,Thurston
1,2023-12-13,ELEC,2010-03-01,E,Seattle-Tacoma International Airport - General...,Seattle,King
2,2023-06-12,ELEC,2010-04-15,E,Avista Corp,Spokane,Spokane
3,2023-04-06,ELEC,2010-04-15,E,Steam Plant Parking,Spokane,Spokane
4,2025-04-17,ELEC,2010-12-15,T,BELLEVUE BELLEVUE CH 1,Bellevue,King
5,2025-04-17,ELEC,2008-02-15,E,KING COUNTY DES ISSAQUAH P&R 2,Issaquah,King
6,2023-07-11,ELEC,2011-07-15,E,King County - King County Van Distribution Center,Redmond,King
7,2025-04-17,ELEC,2011-03-15,E,UWB CASCADIA CC NORTH LEVEL 3 N,Bothell,King
8,2025-04-17,ELEC,2011-03-15,E,CITY OF REDMOND CITY HALL DUAL,Redmond,King
9,2025-04-17,ELEC,2011-03-15,E,CITY OF REDMOND MOC #1 PUBLIC,Redmond,King

In [53]:
#Saving DataFrame to csv
df.to_csv("ev_stations.csv", index=False)
print("DataFrame saved to 'ev_stations.csv'")

DataFrame saved to 'ev_stations.csv'

## 3.3.1 EV_Registratins Connection With MongoDB

In [54]:
import json
from pymongo import MongoClient
import pandas as pd
from datetime import datetime

#1:Now we try to upload the json to mongodb
cl=MongoClient('mongodb://localhost:27017/')
dab=cl['Group_Q_db']
coll=dab['ev_registrations']
coll.drop()

with open('ev_registrations.json','r') as file:
    json_da=json.load(file)
da=json_da['data']
colm=[col['name']for col in json_da['meta']['view']['columns']]
data_dt=[dict(zip(colm,recd))for recd in da]

In [55]:
#it is also necessary for us to insert it in chunks for better efficiency
cz=1000
total_rec=len(data_dt)
for i in range(0,total_rec,cz):
    ck=data_dt[i:i+cz]
    coll.insert_many(ck)
print(f"Total in MongoDB: {coll.count_documents({})}")

Total in MongoDB: 770809

Once the data is stored in mongodb run this command in update section of mongodb

{
  $unset: {
    'Transaction County': ''
  }
}

In [56]:
cl=MongoClient('mongodb://localhost:27017/')
dab=cl['Group_Q_db']
coll=dab['ev_registrations']

## 3.3.2 EV_Registrations Data Transformation

In [57]:
sd=datetime(2023,1,1)
ed=datetime(2025,6,30)
evda=list(coll.find({'Fuel Type':'Electric','Transaction Date':{'$gte':sd.strftime('%Y-%m-%d'),'$lte':ed.strftime('%Y-%m-%d')}}))

In [58]:
df=pd.DataFrame(evda).drop(columns=['_id','sid','id','position','created_at','updated_at','updated_meta','meta','Fiscal Year'],errors='ignore')

df['Counts']=pd.to_numeric(df['Counts'],errors='coerce')
df=df.drop_duplicates()
print(len(df))

8797

In [59]:
print('uniq residential county',df['Residential County'].nunique())
print('unique fuel type',df['Fuel Type'].nunique())
print(df['Counts'].max())  #we try to see the max value of counts

uniq residential county 39
unique fuel type 1
8448

In [62]:
#we try to print only the monthly data instead of daily data
df['Transaction Date']=pd.to_datetime(df['Transaction Date'])
df['YearMonth']=df['Transaction Date'].dt.to_period('M')
df_group=df.groupby(['Residential County','YearMonth','Fuel Type','Primary Use Class'],as_index=False)['Counts'].sum()
df_group['Residential County']=df_group['Residential County'].str.strip()

print('first 5 rows',df_group.head())
df_group.to_csv('ev_cleaned_monthly.csv',index=False)

first 5 rows   Residential County YearMonth Fuel Type  Primary Use Class  Counts
0              Adams   2023-01  Electric         Commercial       1
1              Adams   2023-01  Electric  Passenger Vehicle       1
2              Adams   2023-02  Electric              Truck       1
3              Adams   2023-03  Electric  Passenger Vehicle       1
4              Adams   2023-04  Electric  Passenger Vehicle       4

## 4.1 Load data to postgresql

In [ ]:
# import psycopg2

# # Connect to the default 'postgres' database
# conn = psycopg2.connect(
#     dbname="postgres",
#     user="your_username",      
#     password="your_password",  
#     host="localhost",
#     port="5432"
# )
# conn.autocommit = True

# # Create the database
# cur = conn.cursor()
# cur.execute("CREATE DATABASE group_q;")
# print("Database 'Group_Q' created successfully.")

# # Close connection
# cur.close()
# conn.close()

In [89]:
import pandas as pd
from sqlalchemy import create_engine

# Load the CSV
df=pd.read_csv("cleaned_air_quality.csv")
df.columns=[col.strip().lower().replace(" ","_") for col in df.columns]

In [ ]:
# It is necessary for us to Connect to the new 'group_q' database
engine=create_engine("postgresql+psycopg2://postgres:password@localhost:5432/group_q")

In [91]:

# Load the data into a table named 'air_quality_data'
df.to_sql("air_quality_data",engine,if_exists="replace",index=False)
print("Data is successfully loaded into database.")

Data is successfully loaded into database.

## 4.3 Load data to postgresql

In [92]:
# Load the transformed CSV
df_monthly=pd.read_csv("ev_cleaned_monthly.csv")
df_monthly.columns=[col.strip().lower().replace(" ", "_") for col in df_monthly.columns]

In [93]:
engine=create_engine("postgresql+psycopg2://postgres:password@localhost:5432/group_q")

In [94]:
df_monthly.to_sql("ev_monthly_summary",engine,if_exists="replace",index=False)
print("Data is successfully loaded into database")

Data is successfully loaded into database

In [82]:
# OPTIONAL: Check if the data is loaded correctly
# 
# import pandas as pd
# from sqlalchemy import create_engine

# # Replace with your actual credentials
# engine = create_engine("postgresql+psycopg2://postgres:password@localhost:5432/group_q")

# # Read data back from the table
# df_check = pd.read_sql("SELECT * FROM ev_monthly_summary LIMIT 5;", engine)

# print(df_check)

## 5. EDA